<html>
  <head>
    <h2>Edit</h2>
  </head>

  <body>
    <%= form_tag(user_path, {method: "patch"}) do %>
      <p>User Name</p>
      <input type="text" name="name" value="<%= @user.name %>">
      
      <p>E-mail</p>
      <%= @user.email %>

      <p>Image</p>
      <input type="file" name="avatar">
      <br><br>
      <input type="submit" value="edit">
    <% end %>

  </body>
</html>
