
<h2>Edit</h2>

<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
  <p>User Name</p>
  <input type="text" name="name" value="<%= @user.name %>">

  <p>E-mail</p>
  <%= @user.email %>

  <p>Image</p>
  <input type="file" name="image">
  <br><br>
  <input type="submit" value="edit">
<% end %>
