<h2>Log in</h2>
<% if @error_message %>
  <%= @error_message %>
<% end %>

<%= form_tag("/login") do %>
  <p>E-mail</p>
  <input type="text" name="email" value="<%= @email %>">

  <p>Password</p>
  <input type="password" name="password" value="<%= @password %>">
  <br><br>
  <input type="submit" value="login">
<% end %>
