<html>
  <head>
    <h1>Rooms#index</h1>
  </head>

  <body>
    <p>All Rooms</p>
    <p>------------------------------------------------------------</p>
    <% @rooms.each do |room| %>
      <p>Room name</p> <%= link_to(room.room_name, "/rooms/#{room.id}") %>
      <p>------------------------------------------------------------</p>
      <br>
    <% end %>


  </body>
</html>
