<h1>Posts#edit</h1>
<%= form_tag(post_path(@post), {method: "patch"}) do %>
  <p>content: </p>
  <textarea name="content"><%= @post.content %></textarea>
  <br>
  <input type="submit" value="edit">
<% end %>
