<html>

  <head>
    <h1>Posts#new</h1>
  </head>

  <body>
    <%= form_tag(posts_path) do %>
      <p>content: </p>
      <textarea name="content"></textarea>
      <br>
      <input type="submit" value="post">
    <% end %>
  </body>

</html>
